<a href="https://colab.research.google.com/github/ShaluPriya-R01/machine-learning/blob/main/decision_treee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import necessary libraries

In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

Import the dataset

In [49]:
df=pd.read_csv("/content/drug200.csv")

Preprocessing

In [50]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [51]:
le=LabelEncoder()

In [52]:
df1=df.apply(LabelEncoder().fit_transform)

In [53]:

x=df1.drop(columns="Drug",axis=1)
x

     Age  Sex  BP  Cholesterol  Na_to_K
0      8    0   0            0      167
1     30    1   1            0       89
2     30    1   1            0       43
3     12    0   2            0       10
4     44    0   1            0      133
..   ...  ...  ..          ...      ...
195   39    0   1            0       69
196    1    1   1            0       75
197   35    1   2            0       36
198    8    1   2            1      102
199   24    0   1            1       66

[200 rows x 5 columns]

In [54]:
y=df1["Drug"]
y

0      4
1      2
2      2
3      3
4      4
      ..
195    2
196    2
197    3
198    3
199    3
Name: Drug, Length: 200, dtype: int64

Split train and test data

In [55]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5, random_state= 0)

Create a variable model as an instance to decisiontree classifier

In [56]:

model=tree.DecisionTreeClassifier()

In [57]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

Predict Y based on x_test

In [58]:
y_pred=model.predict(x_test)

In [59]:
y_pred

array([2, 3, 4, 4, 4, 3, 3, 3, 4, 3, 0, 4, 4, 4, 1, 2, 4, 4, 3, 4, 4, 3,
       3, 3, 4, 4, 4, 4, 4, 3, 3, 2, 0, 3, 4, 4, 3, 4, 0, 3, 4, 0, 4, 3,
       4, 3, 4, 4, 0, 4, 4, 0, 4, 4, 2, 4, 3, 3, 4, 1, 4, 4, 3, 4, 3, 4,
       1, 4, 3, 3, 3, 4, 0, 0, 0, 4, 4, 3, 3, 4, 0, 0, 0, 2, 1, 4, 2, 4,
       1, 3, 3, 2, 4, 4, 2, 4, 4, 4, 4, 3])

Calculate Accuracy score by comparing Y test and Y Pred

In [60]:
acc=accuracy_score(y_test,y_pred)

In [61]:
acc

0.98

In [62]:
print("THE ACCURACY SCORE OF THE MODEL IS",acc)

THE ACCURACY SCORE OF THE MODEL IS 0.98

Confusion Matrix

In [65]:
 con =confusion_matrix(y_test,y_pred)

In [66]:

print("THE CONFFUSION MATRIX OF THE MODEL IS",con)

THE CONFFUSION MATRIX OF THE MODEL IS [[10  0  0  0  0]
 [ 2  5  0  0  0]
 [ 0  0  8  0  0]
 [ 0  0  0 28  0]
 [ 0  0  0  0 47]]